In [2]:
from IPython.display import Markdown, display

markdown_content = """
# Data Science Tools and Ecosystem
"""

display(Markdown(markdown_content))

markdown_content = """
# Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.
"""

# Display the Markdown content
display(Markdown(markdown_content))

markdown_content = """
Some of the popular languages that Data Scientists use are:

1. Python
2. Julia
3. R
"""

display(Markdown(markdown_content))

markdown_content = """
Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. TensorFlow
"""

display(Markdown(markdown_content))

from IPython.display import Markdown, display

markdown_content = """
| Data Science Tools          |
|-----------------------------|
| Jupyter Notebooks            |
| RStudio                      |
| Apache Zeppelin              |
"""

display(Markdown(markdown_content))

markdown_content = """
### Below are a few examples of evaluating arithmetic expressions in Python.
"""

display(Markdown(markdown_content))

# Data Science Tools and Ecosystem

# Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. Julia
3. R

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. TensorFlow

| Data Science Tools          |
|-----------------------------|
| Jupyter Notebooks            |
| RStudio                      |
| Apache Zeppelin              |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

In [ ]:
markdown_content = """
**Objectives:**

- C++
- Python
- Julia
- Javascript
"""

display(Markdown(markdown_content))